.full-adventure{
	width: 50%;
	position:relative;
	float:left;

}
.full-adventure{
	.read-adventure{
		top: 20%;
	}
}
.half-adventure{
	font-size: 15px;
	float:left;
}

.half-adventure{
	.read-adventure{
		top: 30%;
	}
}
.quarter-adventure{
	width: 25%;
	font-size: 12px;
	float:left;
}
.quarter-adventure{
	.read-adventure{
		top: 35%;
	}
}
.adventure-archive-button{
	position: absolute;
	top: 13em;
	margin-left: 1em;
	background: transparent;
	border-radius: 0;
	a{
		color: #fff;
		font-family: Novecento;
	}
}

.adventure-item{
	height: 500px;
	background-size: 100% !important;
	background-repeat: no-repeat;
	width: 50%;

	&.half-adventure{
		height: 250px;
	}
	&.quarter-adventure{
		height: 250px;
		max-width: 25%;
	}
}