header{
	li.menu-item {
		a{
		color: $main__green;
		}
	}
		.logo{
			background-image: url("../../images/logos/inhabitent-logo-tent.svg");
			height: 133px;
			width: 200px;
			position:absolute;
			background-size: 25%;
			background-repeat: no-repeat;
			top:2em;
		}
}
.home{
	li.menu-item {
		a{
			color: #fff;
		}
	}
	.logo{
			background-image: url("../../images/logos/inhabitent-logo-tent-white.svg");
			height: 133px;
			width: 200px;
			position:absolute;
			z-index: 1;
			background-size: 30%;
			background-repeat: no-repeat;
		}
		.hero{
			background-image: url("../../images/home-hero.jpg");
			width: 100%;
			height: 500px;
			position:relative;
			background-size: 100%;
		}
}
// I think this is the single product page class
.page-id-57{
	li.menu-item{
		a{
			color:#fff;
		}
	}
	.logo{
			background-image: url("../../images/logos/inhabitent-logo-tent-white.svg");
			height: 133px;
			width: 200px;
			position:absolute;
			z-index: 1;
			background-size: 30%;
			background-repeat: no-repeat;
		}
		.about-header{
			background-image:url("../../images/about-hero.jpg");
			height: 500px;
			background-size: 100%;
			background-repeat: no-repeat;
		}
}
.single-adventures{
	li.menu-item{
		a{
			color:#fff;
		}
	}
		.logo{
			background-image: url("../../images/logos/inhabitent-logo-tent-white.svg");
			height: 133px;
			width: 200px;
			position:absolute;
			z-index: 1;
			background-size: 30%;
			background-repeat: no-repeat;
		}
}
